%div.container.header
  %div.row
    %div.eightcol.logo
    %div.fourcol.last
%div.container.midsection
  %div.row
    %div.fourcol.imageblock
      = image_tag ('/assets/music.png')
    %div.fourcol.imageblock
      = image_tag ('/assets/tech.png')
    %div.fourcol.imageblock.last
      = image_tag ('/assets/gaming.png')
