%div.container
  %div.row
    %div.span9
      %h2 #{@article.title}
      %h4 Written by #{@article.author} on #{@article.published_at.strftime("%B %d, %Y")}
      = @article.summary.html_safe
    %div.span3
