%div.well
  - if signed_in?
    %p Welcome back, #{current_user.name}!
    - if !pending_requests.empty?
      %p You have friend requests!
      %ul
        - pending_requests.each do |user|
          %li
            = user.name
            = link_to "Confirm?", friend_path(user), :method => "put"
    - if !current_user.news_lists.empty?
      %h4 Your NewsLists
      %ul
        - current_user.news_lists.each do |newslist|
          %li= link_to newlist.name, user_news_lists_path(newslist)
