body {
  background-color: rgba(0, 0, 0, 0.1);
  padding-top: 60px;
  padding-bottom: 40px;
}

.overlay img {
  z-index: 5;
  opacity: 0;
}

.overlay a:hover {
  z-index: 5;
  background-color: #FFF;
}

.boxgrid {
  width: 325px;
  height: 200px;
  margin: 10px;
  float: left;
  background: #161613;
  border: solid 2px #FFF;
  overflow: hidden;
  position: relative;
}

.boxgrid img {
  width: 325px;
  height: 260px;
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
}

.feedtitle,
.boxcaption {
  float: left;
  position: absolute;
  background: #000;
  height: 100px;
  width: 100%;
  opacity: .8;
}

.feedtitle {
  height: 25px;
  width: 50%;
  top: 0;
  left: 0;
}

.textblock {
  position: absolute;
  color: #FFF;
  top: 6px;
  left: 5px;
}

.caption .boxcaption {
  top: 130px;
  left: 0;
}
