body {
  padding: 60px;
  background: #181818;
  color: #FFFFFF; !important
}

table#articles td img {
  width: 100%;
  height: 200px;
}

table#articles {
  width: 100%;
  margin: auto;
}

table#articles a {
  text-decoration: none;
  color: white;
}

table#articles td#image {
  margin: 0;
  padding: 20px 0 0 0;
  width: 200px;
  overflow: hidden;
}

table#articles td#alink {
  margin: 0;
  padding: 0;
  background: #000;
}

.rightbar {
  text-align: center;
  margin: 0 0 0 20px;
}

.rightbar img {
  display: block;
  float: right;
}

.rightbar .offset {
  margin: 30px 5px 0px 5px;
}
